<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="redisTest" connectionString=""/>
  </connectionStrings>
  <appSettings>
    <add key="redisConnectionStringReference" value="redisTest"/>
    <add key="redisDatabaseNumber" value=""/>
    <add key="RedisKeyPrefix" value="UnitTests"/>
  </appSettings>
</configuration>