<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="redisTest" connectionString="unittest.redis.cache.windows.net,ssl=true,password=f8N9hYnhV1WpUMugRlhi8OOJ3qx+wciGLFubk19og0Y="/>
  </connectionStrings>
  <appSettings>
    <add key="redisConnectionStringReference" value="redisTest"/>
    <add key="redisDatabaseNumber" value=""/>
    <add key="RedisKeyPrefix" value="UnitTests"/>
  </appSettings>
</configuration>